.header {
    display: flex;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; 
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(51, 51, 51);
}

.header .logo {
    max-height: 32px;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 5px;
}