table {
    width: 100%;
}
.edit {
    margin-right: 18px;
}
.edit > i {
    color: #388335
}

.delete > i {
    color: #e35e6b
}
.spinner {
    margin: 5px 10px 0px 0px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background: white;
}